<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="./node_modules/vue-material/dist/vue-material.css">      
    <link rel="stylesheet" href="./bower_components/components-font-awesome/css/font-awesome.min.css">   
  </head>
  <body> 
<div id="app">
    <md-input-container>
        <label>Initial value</label>
        <md-input v-model="initialValue"></md-input>
      </md-input-container>
    
      <md-input-container>
        <label>With label</label>
        <md-input placeholder="My nice placeholder"></md-input>
      </md-input-container>  
    
      <md-input-container>
        <label>Number</label>
        <md-input type="number"></md-input>
      </md-input-container>
    
      <md-input-container>
        <label>Textarea</label>
        <md-textarea></md-textarea>
      </md-input-container>
    
      <md-input-container>
        <label>Disabled</label>
        <md-input disabled></md-input>
      </md-input-container>
    
      <md-input-container md-clearable>
        <label>Clearable</label>
        <md-input v-model="initialValue"></md-input>
      </md-input-container>     
      <md-bottom-bar>
        <md-bottom-bar-item md-iconset="fa fa-history fa-2x">History</md-bottom-bar-item>
        <md-bottom-bar-item md-iconset="fa fa-star fa-2x" md-active>Favorites</md-bottom-bar-item>
        <md-bottom-bar-item md-iconset="fa fa-location-arrow fa-2x">Nearby</md-bottom-bar-item>
      </md-bottom-bar>
</div>     
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-material/dist/vue-material.js"></script> 
    <script>
      Vue.use(VueMaterial);

      new Vue({
        el: '#app'
      })
    </script>
  </body>
</html>
